body, select, input, button, textarea
{
	font: 13px/1.5 Helvetica Neue, Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif;
	color: #333;
}

h1
{
	font-size:138.5%;  
}

h2
{
	font-size:123.1%; 
}

h3
{
	font-size:108%; 
}

h1, h2, h3, h4, h5, h6
{
	font-weight: bold;
}

a, a:active, a:visited
{
	color: #2d76b9;
	/*color: #607890;*/
}

a:hover {
	/*color: #036;*/
	text-decoration: underline;
}

a:focus
{
	outline: 1px dotted;
}

/*form*/

form {

}

form .errorSummary{border: 2px solid #CB3300;padding: 7px 7px 9px 7px;margin: 10px 0 10px 0;background: #FEE;}
form .errorSummary p {margin: 0;padding: 5px;}
form .errorSummary ul {margin: 0;padding: 0 0 0 20px;}

form .header
{

}
div .header .title
{
	font-weight: bold;
	margin: 5px 0;
}

form .header .title
{
	font-weight: bold;
	margin: 5px 0;
}

form .header .sub-title 
{
	margin-bottom: 5px;
}

form fieldset
{

}

form fieldset .row
{
	margin: 5px 0;
}

form fieldset .row label
{
	display: block;
	font-weight: bold;
}

form fieldset .row input[type=text], form fieldset .row input[type=password]
{
	width: 192px;
	height: 21px;
	padding: 3px;
	border: 1px solid #ccc;
	margin-top: 2px;
}

form fieldset .row.inline
{

}

form fieldset .row.inline label
{
	display: inline;
	vertical-align: middle;
	font-weight: normal;
}

form fieldset .row.inline input[type=checkbox], form fieldset .row.inline input[type=radio]
{
	display: inline;
	vertical-align: middle;
}

form fieldset.buttons
{
	margin-top: 5px;
}

form fieldset.buttons input, form fieldset.buttons button
{

}

form .footer
{

}

/*wide forms*/

form.wf
{

}

form.wf .header
{
	border-bottom: 1px solid #ccc;
	margin: 0 auto 10px auto;
}

form.wf fieldset
{

}

form.wf fieldset .row
{
	margin: 5px 0;
}

form.wf fieldset .row label
{
	width: 140px;
	display: inline-block;
	text-align: right;
	margin-right: 10px;
	font-weight: normal;
}

form.wf fieldset .row input[type=text], form.wf fieldset .row input[type=password]
{
	width: 222px;
	display: inline-block;
}

form.wf fieldset .row.inline
{
	padding-left: 155px;
}

form.wf fieldset .row.inline label
{
	display: inline-block;
	text-align: left; 
	width: auto;
}

form.wf fieldset .row.inline input[type=checkbox], form.wf fieldset .row.inline input[type=radio]
{
	display: inline-block;
}

form.wf fieldset.buttons
{
	padding-left: 155px;
}

form.wf fieldset.buttons input, form.wf fieldset.buttons button
{

}

form.wf .footer
{

}

/*misc*/
.first {margin-left: 0 !important;}
.last {margin-right: 0 !important;}
.top {margin-top: 0 !important;}
.bottom {margin-bottom: 0 !important;}

/*layout*/
#page
{
}

#header-container
{
	text-align: center;
	/*background: #111;*/
	/*box-shadow: 0 1px 4px 1px rgba(0, 0, 0, .5);*/
	line-height: 38px;
	margin-bottom: 10px;
}

#header-container #header
{
	padding-top: 110px;
	margin: 0 auto;
	text-align: left;
	width: 960px;
	background: url('../images/header_bg.png') top left no-repeat rgb(70, 101, 130);
	box-shadow: 0 1px 4px 1px rgba(0, 0, 0, .5);
}

#header-container #header #header-content
{
}

#header-container #header #header-content a
{
	color: #fff;
	text-decoration: none;
}

#header-container #header #header-content a:hover
{
	/*color: #fff;*/
}

#header-container #header #header-content .logo
{
	float: left;
	width: 150px;
	margin-right: 10px;
}

#header-container #header #header-content .logo a
{
	margin-left: 10px;
	display:block;
	background: url('../images/logo.png') center left no-repeat;
}

#header-container #header #header-content .global-utils
{
	float: left;
	width: 800px;
}

#header-container #header #header-content .global-utils .global-search
{
	float: left;
	width: 250px;
}

#header-container #header #header-content .global-utils .global-search form
{
	opacity: 1;
}

#header-container #header #header-content .global-utils .global-search form input
{
	background: #666;
	border: 1px solid #000;
	box-shadow: 0 1px 0 #444;
	color: #ccc;
	width: 240px;
	height: 15px;
	padding: 4px;
	vertical-align: middle;
}

#header-container #header #header-content .global-utils .global-search form input:hover,
#header-container #header #header-content .global-utils .global-search form input:focus
{
	background: #eee;
	border: 1px solid #eee;
	color: #333;
	box-shadow: 0 0 3px 0 #000;
	outline: none;
	text-shadow: 0 1px 0 0 #fff;
}

#header-container #header #header-content .global-utils ul
{
	list-style: none;
	float: left;
}

#header-container #header #header-content .global-utils ul li
{
	display: block;
	float: left;
	position: relative;
}

#header-container #header #header-content .global-utils ul li:hover
{
	background: rgb(70, 101, 130)
}

#header-container #header #header-content .global-utils ul li a
{
	display: block;
	padding: 0px 10px;
}

#header-container #header #header-content .global-utils ul li a:hover
{
}

#header-container #header #header-content .global-utils ul li ul
{
	display: none;
	position: absolute;
	left: 0;
	line-height: normal;
	background: rgb(70, 101, 130);
}

#header-container #header #header-content .global-utils ul li:hover ul
{
	display: block;
}

#header-container #header #header-content .global-utils ul li ul li
{
	float: none;
}

#header-container #header #header-content .global-utils ul li ul li a
{
	white-space:nowrap;
	padding: 5px 10px;
}

#header-container #header #header-content .global-utils ul li ul li a:hover
{
	background: rgb(70, 101, 130);
}

#header-container #header #header-content .global-utils ul li ul,
#header-container #header #header-content .global-utils ul li ul li:last-child,
#header-container #header #header-content .global-utils ul li ul li a:last-child
{
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

#header-container #header #header-content .global-utils .global-nav
{
	float: right;
	width: 550px;
}

#header-container #header #header-content .global-utils .global-nav ul
{
	float: right;
}

#header-container #header #header-content .global-utils .global-nav ul li ul
{
	right: 0;
	left: auto;
}

#canvas-container
{
	text-align: center;
}

#canvas-container #canvas
{
	margin: 0 auto;
	text-align: left;
	width: 960px;
	background: #fff;
}

/*1 column*/

#canvas-container #canvas #content
{
	
}

#canvas-container #canvas #content .action
{
	padding: 0px 10px;
}

#canvas-container #canvas #content .action .section
{

}

/*sidebar-left*/
#canvas-container #canvas.sidebar-left
{
}

#canvas-container #canvas.sidebar-left #sidebar-left
{
	float: left;
	width: 200px;
}

#canvas-container #canvas.sidebar-left #sidebar-left .sidebar-content
{
}

#canvas-container #canvas.sidebar-left #sidebar-left .sidebar-content .block
{
	background: #f2f2f2;
	padding: 10px;
}

#canvas-container #canvas.sidebar-left #sidebar-left .sidebar-content .block ul
{
}

#canvas-container #canvas.sidebar-left #sidebar-left .sidebar-content .block ul li
{
	list-style-type: none;
	border-bottom: dotted 2px #fff;
	padding-bottom: 2px;
}

#canvas-container #canvas.sidebar-left #sidebar-left .sidebar-content .block ul li a
{
	text-decoration: none;
	display: block;
}

#canvas-container #canvas.sidebar-left #sidebar-left .sidebar-content .block ul li a:hover
{
}

#canvas-container #canvas.sidebar-left #content
{
	float: left;
	width: 760px;
}

/*sidebar-right*/
#canvas-container #canvas.sidebar-right
{

}

#canvas-container #canvas.sidebar-right #content
{
	float: left;
	width: 720px;
}

#canvas-container #canvas.sidebar-right #sidebar-right
{
	float: right;
	width: 240px;
}

#canvas-container #canvas.sidebar-right #sidebar-right .sidebar-content
{

}

/*sidebars*/
#canvas-container #canvas.sidebars
{

}

#canvas-container #canvas.sidebars #sidebar-left
{
	float: left;
	width: 200px;
}

#canvas-container #canvas.sidebars #sidebar-left .sidebar-content
{

}

#canvas-container #canvas.sidebars #content
{
	float: left;
	width: 530px;
}

#canvas-container #canvas.sidebars #sidebar-right
{
	float: right;
	width: 230px;
}

#canvas-container #canvas.sidebars #sidebar-right .sidebar-content
{

}

#footer-container
{
	text-align: center;
}

#footer-container #footer
{
	margin: 10px auto 0 auto;
	text-align: left;
	width: 960px;
}

#footer-container #footer #footer-content 
{

}

div.feed-container
{
	border-top-style:solid;
	border-right-style:solid;
	border-bottom-style:solid;
	border-left-style:solid;
	border-width:1px;	
	border-color:#6D7B8D;
	margin-bottom:2px;
	margin-top:2px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left:3px;
	padding-right:5px;
}
div.feed-user-image
{
	border-radius: 4px;
	-moz-border-radius: 4px;	
}
div.feed-body
{
	margin-left: 52px;
	margin-top: 10px;	
}
span.feed-username-spn
{
	font-weight:bold;
	font-size: 15px;
}
span.feed-text-spn
{
	font-size: 14px;
}

.error_page #error 
{
	margin: 0;
}
.UIMessageBoxError 
{
	background-color: #FFEBE8;
	border-color: #DD3C10;
}
.UIMessageBox 
{
	padding: 10px;
	border-width: 1px;
	border-style: solid;
}

.UIMessageBox .sub_message 
{
	margin: 4px 0 0;
}

#contentRule
{
	background-color: white;
	border-bottom: 1px solid #CCC;
	height: 8px;
	font-size: 1px;
}

#footer-content .navigation 
{
	text-align: right;
}

#footer-content a 
{
	text-decoration: none;
	white-space: nowrap;
	color: #3B5998;
	font-size: 11px;
}

#profile-title
{
	font-size: 24px;
	font-weight: bold;
	color: #466580;	
}

#profile-role-title
{
	font-size: 16px;
	font-weight: bold;
	color: #466580;	
}

#left-profile-name
{
	font-weight:bold;
	font-size: 15px;
	color: #466580;		
}

/*BEGIN course catgory search result view style*/
.detailedsearch_result 
{
	padding-bottom: 5px;
	border-bottom: 1px solid 
	#E9E9E9;
}
#pagelet_search_results_area .mbm 
{
	margin-bottom: 10px;
}

#pagelet_search_results_area .clearfix 
{
	zoom: 1;
}
	
#pagelet_search_results_area .clearfix::after
{
	clear: both;
	content: ".";
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

#pagelet_search_results_area .lfloat 
{
	float: left;
}
.uiImageBlockSmallImage 
{
	margin-right: 5px;
}
.uiImageBlockImage, .uiImageBlockImage .img 
{
	display: block;
}
#pagelet_search_results_area .a 
{
	cursor: pointer;
	color: 
	#3B5998;
	text-decoration: none;
}

#pagelet_search_results_area .uiImageBlockSmallContent 
{
	padding-top: 1px;
}
#pagelet_search_results_area .uiImageBlockContent 
{
	overflow: hidden;
}

#pagelet_search_results_area .rfloat 
{
	float: right;
}

#pagelet_search_results_area .pls 
{	
	padding-left: 5px;
}

#pagelet_search_results_area .fcb 
{
	color: 
	#333;
}
#pagelet_search_results_area .fwb 
{
	font-weight: bold;
}
#pagelet_search_results_area .fsl 
{
	font-size: 13px;
}

/*END course catgory search result view style*/


/*START page action section header*/
#headerArea 
{
	float: left;
	margin: 0 20px 0;
	width: 730px;
}
#headerArea 
{
	margin-bottom: 5px;
	padding: 2px 0 12px;
}

#headerArea .uiHeaderPage 
{
	padding: 6px 0 16px;
}
#headerArea .uiHeaderBottomBorder 
{
	border-bottom: 1px solid #AAA;
	padding-bottom: .5em;
}


#headerArea .uiHeaderWithImage .uiHeaderTop 
{
	position: relative;
}
#headerArea .clearfix 
{
	zoom: 1;
}
#headerArea .clearfix::after 
{
	clear: both;
	content: ".";
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

.uiHeaderPage .uiHeaderActions 
{
	margin-top: -1px;
}
#headerArea .rfloat 
{
	float: right;
}

.hasLeftCol #headerArea 
{
	float: left;
	margin: 0 20px 0;
	width: 759px;
}
.uiHeaderPage .uiHeaderTitle 
{
	line-height: 20px;
	min-height: 20px;
	padding-bottom: 2px;
	vertical-align: bottom;
}
.uiHeaderWithImage .uiHeaderTitle 
{
	padding-left: 22px;
}
.uiHeader .uiHeaderTitle 
{
	outline: none;
}
.uiHeader h2 
{
	color: rgb(70, 101, 130);	
	font-size: 16px;
}

.uiHeaderBottomBorder 
{
	border-bottom: 1px solid 
	#AAA;
	padding-bottom: .5em;
}
/*END page action section header*/


/*BEGIN graded work feed*/
.storyContent 
{	
	margin: -2px 0 2px;
}

.storyContent .clearfix 
{
	zoom: 1;
}

.storyContent .clearfix::after 
{
	clear: both;
	content: ".";
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

.storyContent .homeWiderContent .uiStreamStory .actorPhoto 
{
	margin-left: 0;
}
.storyContent .uiStreamStory .actorPhoto 
{
	margin-bottom: 14px;
	margin-top: 14px;
}
.storyContent .UIImageBlock_MED_Image, .UIImageBlock_ENT_Image 
{
	margin-right: 10px;
}
.storyContent .UIImageBlock_Image 
{
	float: left;
	margin-right: 5px;
}
.storyContent a 
{
	cursor: pointer;
	color: 
	#3B5998;
	text-decoration: none;
}

.storyContent .UIImageBlock_Image .img, img.UIImageBlock_Image, i.UIImageBlock_Image 
{
	display: block;
}

.storyContent .uiProfilePhotoLarge 
{
	width: 50px;
	height: 50px;
}

.storyContent img 
{
	border: 0;
}

.storyContent .UIImageBlock_Content 
{
	display: table-cell;
	vertical-align: top;
	width: 730px;
}

.storyContent .uiStreamStory .mainWrapper 
{
	margin: 0 35px 14px 0;
	padding-top: 14px;
}

.uiStream .uiStreamHeadline 
{
	margin-bottom: 0;
}
.uiStream .uiStreamMessage 
{
	color: black;
	font-size: 16px;
	font-weight: normal;
	margin: 0 0 5px 0;
}
.uiStreamMessage, .uiAttachmentTitle, .uiAttachmentDesc 
{
	word-break: break-word;
	word-wrap: break-word;
}
.uiStreamMessage .actorDescription 
{
	margin-bottom: 3px;
	padding-bottom: 0;
}

.uiStreamMessage .actorName, .uiStreamMessage .passiveName 
{
	font-weight: bold;
}

.storyContent .mvm 
{
	margin-top: 10px;
	margin-bottom: 10px;
}

.storyContent .fcg 
{
	color: gray;
}
.storyContent .fwn 
{
	font-weight: normal;
}
.storyContent .fsm 
{
	font-size: 11px;
}

.uiStreamHomepage .uiStreamStory:first-child 
{
	margin-top: -8px;
}
.uiListItem:first-child 
{
	border-width: 0;
}
.homeWiderContent .uiStreamStory 
{
	margin-left: -18px;
	padding-left: 18px;
}
.uiListLight 
{
	border-color: 
	#E9E9E9;
}
.uiListVerticalItemBorder 
{
	border-width: 1px 0 0 0;
}
.uiListLight, .uiListMedium, .uiListDark 
{
	border-style: solid;
}
.uiListItem 
{
	display: block;
}
.uiStreamStory 
{
	padding: 0;
	position: static;
}
.storyContent ul 
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
/*END graded work feed*/