#BG_styles
{
	background-color: #E7EBF2;
	

}


#main
{
	margin-right: auto;
	margin-left: auto;
	width: 1170px;
}


#header
{
	margin-right: auto;
	margin-left: auto;
	height: 110px;
	background-color: #0E5D7B;
	background-image: url(../images/logo.jpg);
	background-repeat: no-repeat;
	border: thin solid #A6B5CE;
	
}

#main_Content
{
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	
}

#login_Content
{
	height: 650px;
	width: 550px;
	background-color: #FFF;
	border: thin solid #A6B5CE;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../images/bg.png);
	background-repeat: repeat-x;
}


#side1
{
	float: left;
	width: 185px;
	position: fixed;
	
}

#side2
{
	float: right;
}

#userName
{
	font-family: Verdana, Geneva, sans-serif;
	color: #0B485D;
	height: 40px;
	width: 180px;
	font-size: 19px;
	font-weight: bolder;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	padding-left: 20px;
}
#profile
{
	margin-right: auto;
	margin-left: auto;
	background-color: #FFF;
	border-top-width: 7px;
	border-right-width: 7px;
	border-bottom-width: 7px;
	border-left-width: 7px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FFF;
	border-right-color: #FFF;
	border-bottom-color: #FFF;
	border-left-color: #FFF;
	height: 150px;
	width: 150px;
}

#contentFrame
{
	width: 965px;
	margin-right: auto;
	margin-left: auto;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	height: 1100px;
	
}

#userOptions
{
	height: 400px;
	width: 230px;
	margin-top: 20px;
	background-color: #FFF;
	border: thin solid #A6B5CE;
}


#user_Content
{
	width: 970px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../images/bg.png);
	background-repeat: repeat-x;
}
#mainHeadings
{
	height: 80px;
	width: 750px;
	background-color: #064668;
	border: thin solid #A6B5CE;
}
