#userName
{
	font-family: Verdana, Geneva, sans-serif;
	color: #0B485D;
	height: 40px;
	width: 180px;
	font-size: 19px;
	font-weight: bolder;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	padding-left: 20px;
}
#profile
{
	margin-right: auto;
	margin-left: auto;
	background-color: #FFF;
	border-top-width: 7px;
	border-right-width: 7px;
	border-bottom-width: 7px;
	border-left-width: 7px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FFF;
	border-right-color: #FFF;
	border-bottom-color: #FFF;
	border-left-color: #FFF;
	height: 150px;
	width: 150px;
}

#message
{
	width: 150px;
	margin-top: 30px;
	font-family: "Comic Sans MS", cursive;
	height: 220px;
	
	
}

#message h3
{
	font-size: 16px;
	color: #036;
	float: left;
	font-weight: normal;
}

#messageOp
{
	width: 140px;
	border: thin solid #036;
	height: 100px;
	
}

#messageOp ul
{
	text-align: left;
	list-style-type: none;
	text-indent: -0.4;
	line-height: 33px;
}
