#innerBG
{
	background-color: #FFF;
	border: thin solid #A6B5CE;
}

#user_Content
{
	height: 650px;
	width: 740px;
	background-color: #006;
	margin-right: auto;
	margin-left: auto;
	background-repeat: repeat-x;
}

#feature_head
{
	font-family: Verdana, Geneva, sans-serif;
	color: #FFF;
	
}


#student_sem
{
	border: thin solid #0FF;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #000040;
	font-weight: bold;
	text-align: center;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	height: 230px;

}

#student_final
{
	border: thin solid #0FF;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #000040;
	font-weight: bold;
	text-align: center;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	

}

table tr
{
	background-color: #F2F0FF;
}


#sem_head
{
	background-color: #0FF;
}

#space
{
	margin-top: 40px;
}

#sem_h1
{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 19px;
	font-weight: bold;
	color: #064668;
}
